.warna1 {
  backround-color: #0ae218;
}

.warna2 {
  backround-color: #64df56;
}

.warna3 {
  backround-color: #4cee41;
}

.warna4 {
  backround-color: #03a70e;
}

.banner {
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0, 4) rgba(0, 0, 0, 0.4)),
    url("../image/banner.png");
}
