.warna1 {
  background-color: rgb(14, 206, 88);
}

.warna2 {
  background-color: rgb(34, 255, 0);
}

.warna3 {
  background-color: aquamarine;
}

.warna4 {
  background-color: azure;
}

.background {
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../image/banner.png);
}

.highlighted-kategori {
  height: 250px;
}

.kategori-dokter-bedah {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../image/bg1.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
}

.kategori-dokter-gigi {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../image/bg2.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
}

.kategori-dokter-anak {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../image/bg3.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
}

.no-decoration {
  text-decoration: none;
  color: white;
}

.no-decoration:hover {
  color: aquamarine;
}

.text-harga {
  font-size: 20px;
  color: blue;
}

.image-box {
  height: 750px;
}

.image-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.background-produk {
  height: 45vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../image/banner.png);
  background-position: 50% 35%;
}

.list-group a {
  text-decoration: none;
}

.produk-terkait-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* start media */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 1.5rem;
  }
  section {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  header nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }
  header nav.active {
    right: 0;
  }
  header nav a {
    color: var(--black);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  header .search-form {
    width: 90%;
    right: 2rem;
  }
  .home {
    background-position: left;
    justify-content: center;
    align-items: center;
  }
  .home .contact h3 {
    font-size: 4.5rem;
  }
  .home .contact p {
    font-size: 1.5rem;
  }
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #dddddd;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--primary);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a :hover::after {
    transform: scaleX(0.2);
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
